<h1>About Me</h1>

<p>Hello! My name is Karla and I am a junior level developer living in Portland, OR. I am learning new things about programming daily.</p>

<p>My skills</p>

<% @skills.each do |skill|%>
  <li><%= skill.skill %></li>
  <% if current_user && current_user.admin %>
  <%= link_to "Edit Skill", edit_skill_path(skill), :class => "btn btn-basic" %>
  <%= link_to "Delete", skill_path(skill), :class => "btn btn-basic",
                        :data => {:confirm => "You sure?",
                                  :method => "delete"} %><br><br>
  <%end%>
<%end%>

<div class="link">
  <% if current_user && current_user.admin %>
  <%= link_to 'Add New Skill', new_skill_path %>
  <%end%>
</div>
