<h1>About Me</h1>

<p>Hello! My name is Karla and I am a junior level developer living in Portland, OR. I am learning new things about programming daily as a student at Epicodus and excited to take on greater challenges.</p>

<img class="me" src="/images/missing.png" alt="Picture of me" width="250px" height="auto">
<br>
<br>

<div class="card" id="none" style="width: 20rem;">
  <div class="card-block">
    <h4 class="card-title">Contact</h4>
    <h6 class="card-subtitle mb-2 text-muted">Email: kmb2662@gmail.com</h6>
    <p class="card-text">Send me an email or view a link below:</p>
    <a target="_blank" href="http://github.com/karlambuckner" class="card-link">My Github</a>
    <a target="_blank" href="http://linkedin.com/in/karla-buckner" class="card-link">My LinkedIn</a>
  </div>
</div>

<br>
  <div class="row">
    <div class="col-md-4">
      <h4>Languages</h4>

      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Ruby</li>
        <li>Rails</li>
      </ul>
    </div>

    <div class="col-md-4">
    <h4>Frameworks | Testing | Other skills</h4>

    <% @skills.each do |skill|%>
      <li><%= skill.skill %></li>
      <% if current_user %>
      <%= link_to "Edit Skill", edit_skill_path(skill), :class => "btn btn-basic" %>
      <%= link_to "Delete", skill_path(skill), :class => "btn btn-basic",
                            :data => {:confirm => "You sure?",
                                      :method => "delete"} %><br><br>
      <%end%>
    <%end%>
  </div>
</div>

<div class="link">
  <% current_user %>
  <%= link_to 'Add New Skill', new_skill_path %>
</div>
